@model List<WebApplication10.Models.Category>
@{
    ViewData["Title"] = "Index";
}



<h1>List of Categories</h1>

<table class="table">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
        </tr>

    }
</table>