@*Set Model*@
@model Brand

@{
    ViewData["Title"] = "Delete Brand";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete Confirmation for  @Model.BrandName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">

                <div class="form-group">
                    <label asp-for="BrandName" class="control-label"></label>
                    <input asp-for="BrandName" class="form-control" readonly />

                </div>


                <div class="form-group">

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                    </form>

                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>

            </div>
        </div>
    </div>
</div>

