
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentDetails</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/studentDetails">Student Details</a>
            </li>
        </ul>
    </nav>
    @{           
        string studentResult;
        if (ViewBag.Mark >= 70)
        {
            studentResult = "Pass";
        }
        else
        {
            studentResult = "Fail";
        }
    }
    <div class="container-fluid">
        <div class="jumbotron">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <td>@ViewBag.Id </td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>@ViewBag.Name </td>
                </tr>
                <tr>
                    <th>Mark</th>
                    <td>@ViewBag.Mark </td>
                </tr>
                <tr>
                    <th>Mark</th>
                    <td>@studentResult </td>
                </tr>
                <tr>
                    <th>Fail or Pass</th>
                    <td>
                        @if (studentResult == "Pass")
                        {


                            <span class="text-success">Congratulations</span>
                        }
                        else
                        {
                            <span class="text-danger">Try Next Time</span>
                        }

                    </td>
                </tr>
                <tr>
                    <th>Course</th>
                    <td>
                        @foreach(var course in ViewBag.Course)
            {
                <span>@course</span>
            }
                    </td>
                </tr>
            </table>
        </div>

    </div>
</body>
</html>
