<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <div class="col-8">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/studentDetails">Student Details</a>
                </li>
            </ul>
        </div>
       <div class=" text-white col-4">
           @ViewBag.Message
       </div>
    </nav>
    <div class="container-fluid">
        <div class="jumbotron">
            @RenderBody()
            @RenderSection("name", required:false)
        </div>
        
    </div>
</body>
</html>
